 {% load static %}
 <main id="main">

    <!-- ======= My Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>My Services</span>
          <h2>My Services</h2>
          <p>Berselancar denga cepat</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Controller</a></h4>
              <p class="description">Mengontrol setiap yang anda lakukan saat berselancar</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Safe</a></h4>
              <p class="description">Tidak akan membuat anda gila saat berselancar</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Free</a></h4>
              <p class="description">Gratis Saat anda berselancar di website ini</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Keep Learning</a></h4>
              <p class="description">Nikmati proses yang dilakukan dalam hidup anda</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End My Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">
        
        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{% static 'assets/img/testimonials/idin.jpg'%}" class="testimonial-img" alt="">
            <h3>Abubakar Sidik</h3>
            <h4>Web Development</h4>
            <p>
              
              <p>"Hanya 2 pilihan didunia ini menciptakan kedamaian atau mengubah kedamaian"</p>
              
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'assets/img/testimonials/eryanto.jpg'%}" class="testimonial-img" alt="">
            <h3>Eryanto</h3>
            <h4>GUitaris & SysAdmin</h4>
            <p>
              "Kesetian adalah hal utama dalam sebuah hubungan"
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'assets/img/testimonials/opik.jpg'%}" class="testimonial-img" alt="">
            <h3>Shofiyurrahman Sauqi</h3>
            <h4>Designer</h4>
            <p>"Pilihan hidup adalah jalan yang lurus pilih tetap fokus ke depan atau berbalik arah"</p>
          </div>


        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= My Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>My Portfolio</span>
          <h2>My Portfolio</h2>
          <p>Manusia itu lemah yang rentan terhadap takdir Allah SWT</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
          
        </ul>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/SMKN 1 DOMPU.jpg'%}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>SMKN 1 DOMPU</h4>
              <p>SMKN 1 DOMPU</p>
              <a href="{% static 'assets/img/portfolio/SMKN 1 DOMPU.jpg'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/abs.jpg'%}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Abubakar Sidik</h4>
              <p>Abubakar Sidik</p>
              <a href="{% static 'assets/img/portfolio/abs.jpg'%}" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/SMPN 1 DOMPU.jpg'%}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>SMPN 1 DOMPU</h4>
              <p>SMPN 1 DOMPU</p>
              <a href="{% static 'assets/img/portfolio/SMPN 1 DOMPU.jpg'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/logo.png'%}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Logo</h4>
              <p>SMKN 1 DOMOPU</p>
              <a href="{% static 'assets/img/portfolio/logo.png'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/Sosialisasi.jpg'%}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Sosialisasi Temu Kreatif</h4>
              <p>SMKN 1 DOMPU</p>
              <a href="{% static 'assets/img/portfolio/Sosialisasi.jpg'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

        </div>

      </div>
    </section><!-- End My Portfolio Section -->

  </main><!-- End #main -->