{% load static %}

<header id="header" class="fixed-top  d-flex justify-content-center align-items-center header-transparent">

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="/login"class="idin border rounded border-warning ">Login</a></li>
        <li><a href="#about" class="abs border rounded border-warning">Register</a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->
