{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  
  {% include 'snippest/header.html'%}

</head>


<body>

  <!-- ======= Header ======= -->
  {% include 'snippest/navbar.html'%}
  <!-- ======= Hero Section ======= -->
  {% include 'snippest/jumbotron.html'%}
  <!-- End Hero -->
  {% include 'snippest/main.html'%}

  <!-- ======= Footer ======= -->
 

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  {% include "snippest/footer.html" %}

  {% include 'snippest/script.html'%}

  

</body>

</html>